.footer-section {
  padding: 0 80px;
  box-sizing: border-box;
}
.footer-body {
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  box-sizing: border-box;
  padding: 0 100px;
  flex-wrap: wrap;
}
.footer-body > ul + div {
  width: 200px;
}
.submit-btn {
  border: 2px solid black;
  background-color: white;
  margin-left: -80px;
}
.submit-btn:hover {
  background-color: black;
  color: white;
}
.email-input {
  height: 36px;
  margin-top: 9px;
}
.footer-bottom {
  display: flex;
  color: white;
  justify-content: space-between;
  padding-bottom: 16px;
}
.footer-bottom a {
  text-decoration: none;
  color: white;
}
.social-icon {
  transform: scale(1.3);
  margin: 4px;
}
.social-icon:hover {
  transform: scale(1.5);
  color: #fd6219;
}
